asn1crypto==0.22.0
certifi==2022.12.7
cffi==1.10.0
chardet==3.0.4
cryptography==2.0.3
enum34==1.1.6
idna==2.6
ipaddress==1.0.18
pkg-resources==0.0.0
pycparser==2.18
PyJWT==1.5.2
pyOpenSSL==17.2.0
pytz==2017.2
requests==2.18.4
six==1.10.0
twilio==6.5.2
urllib3==1.22
